<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pagina 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mi primera app</ion-card-subtitle>
      <ion-card-title>Subtitulo del card </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, eum? Consectetur quae dolore maxime placeat vero similique ipsam laudantium sunt. Fugit explicabo facilis delectus tempore nihil eveniet ea ut incidunt!
    </ion-card-content>
  </ion-card>
  
 
</ion-content>
